In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_parquet('shopping_carts.parquet')

In [3]:
df.describe()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,aisle_id,department_id
count,6.132669e+06,6.132669e+06,6.132669e+06,6.132669e+06,6.132669e+06,6.132669e+06,6.132669e+06,6.132669e+06,5.757096e+06,6.132669e+06,6.132669e+06,6.132669e+06
mean,3.034141e+05,2.555715e+04,8.347707e+00,5.891352e-01,1.034604e+05,1.708789e+01,2.736021e+00,1.343908e+01,1.138992e+01,4.474964e-01,7.137251e+01,9.941165e+00
std,1.751674e+05,1.409440e+04,7.132200e+00,4.919908e-01,5.942233e+04,1.749323e+01,2.097220e+00,4.256280e+00,8.934196e+00,4.972358e-01,3.817693e+01,6.286584e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,3.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
25%,1.517370e+05,1.351200e+04,3.000000e+00,0.000000e+00,5.243000e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00
50%,3.032450e+05,2.523000e+04,6.000000e+00,1.000000e+00,1.032530e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,0.000000e+00,8.300000e+01,9.000000e+00
75%,4.551400e+05,3.786600e+04,1.100000e+01,1.000000e+00,1.548280e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01,1.000000e+00,1.070000e+02,1.600000e+01
max,6.069150e+05,4.968800e+04,1.450000e+02,1.000000e+00,2.062010e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01,1.000000e+00,1.340000e+02,2.100000e+01

In [73]:
df

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county
index,,,,,,,,,,,,,,,,
5006171,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo
5006176,1,11109,2,1,112108,4,4,10,9.0,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses,Inyo
5006175,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo
5006174,1,22035,8,1,112108,4,4,10,9.0,1,Organic Whole String Cheese,21,16,dairy eggs,packaged cheese,Inyo
5006173,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2493330,606914,28849,6,1,193225,18,5,13,4.0,1,No Salt Added Black Beans,59,15,canned goods,canned meals beans,Calaveras
3597250,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador
3597251,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador
3597252,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador
3597253,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador

In [89]:
# check if there is a wrongly assigned reordered value of 0, wrong 1 is not verifiable
# df.groupby(['user_id', 'product_id', 'reordered']).size().reset_index().rename(columns={0:'count'})
# df.sort_values(by=['user_id', 'product_id', 'order_number'])[['user_id', 'product_id', 'order_number','reordered']]
user_product_eon = df.groupby(['user_id', 'product_id'])['order_number'].min().reset_index().rename(columns={'order_number':'earliest_order_number'})
df_extended = df.merge(user_product_eon, on=['user_id', 'product_id'], how='left')
df_extended.loc[(df_extended['order_number'] == df_extended['earliest_order_number']) & (df_extended['reordered'] == 0)]

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county,earliest_order_number
0,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo,4
2,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo,4
4,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo,4
5,1,47209,7,0,112108,4,4,10,9.0,1,Organic Hass Avocado,24,4,produce,fresh fruits,Inyo,4
8,2,41897,3,0,22352,4,1,12,30.0,0,Clean Day Lavender Scent Room Freshener Spray,101,17,household,air fresheners candles,Calaveras,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132658,606914,48101,1,0,193225,18,5,13,4.0,1,Poultry Magic Seasoning Blends,104,13,pantry,spices seasonings,Calaveras,18
6132665,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador,1
6132666,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador,1
6132667,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador,1
6132668,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador,1

In [62]:
df.groupby('order_id')['aisle_id'].nunique().max()

49

In [64]:
# check for inconsistence days_since_prior_order
df.groupby('order_id')['days_since_prior_order'].count().max() # 1
# check where therer are 0 unique values when grouped by order_id

df_merged = df.merge(df.groupby('order_id')['days_since_prior_order'].nunique(), on='order_id').rename(columns={"days_since_prior_order_y": "nunique_dspo"})
df_merged[df_merged['nunique_dspo'] != 1]

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order_x,tip,product_name,aisle_id,department_id,department,aisle,county,nunique_dspo
71,13,46383,15,0,106387,1,5,19,NaN,0,Imported Capote Capers,110,13,pantry,pickled goods olives,San Mateo,0
72,13,21019,14,0,106387,1,5,19,NaN,0,Roasted Red Pepper Hummus,67,20,deli,fresh dips tapenades,San Mateo,0
73,13,33768,7,0,106387,1,5,19,NaN,0,Sinfully Sweet Campari Tomatoes,83,4,produce,fresh vegetables,San Mateo,0
74,13,25195,16,0,106387,1,5,19,NaN,0,Roasted Garlic Loaf,112,3,bakery,bread,San Mateo,0
75,13,40709,8,0,106387,1,5,19,NaN,0,Sea Salt & Vinegar Potato Chips,107,19,snacks,chips pretzels,San Mateo,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132445,606893,38768,2,0,92134,1,5,10,NaN,0,Sweet Kale Salad Mix,32,4,produce,packaged produce,Stanislaus,0
6132665,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador,0
6132666,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador,0
6132667,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador,0
6132668,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador,0

In [72]:
# check if there is a days_since_prior_order value of NaN when there is an earlier order_id of the same user
df2=df_merged.groupby(['user_id', 'order_number'], as_index=False)['days_since_prior_order_x'].count() # 1
df2['days_since_prior_order_has_nan'] = df2.days_since_prior_order_x == 0
df2['previous_order_exists'] = df2[['user_id']].shift(1) == df2[['user_id']]
df2.loc[df2.days_since_prior_order_has_nan & df2.previous_order_exists]

Empty DataFrame
Columns: [user_id, order_number, days_since_prior_order_x, days_since_prior_order_has_nan, previous_order_exists]
Index: []